<!DOCTYPE html>

<html>

<head>
    <title>
        About
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>
        My name is Ran Broda. I'm a 3rd year student towards bachler's in Computer science.<br>
        I like to travel, play video games and play handball on my free time.
        </p>
    <br>
    <img class="portrait" src="/img/me.jpg">
    <br>
    <p>This site was created by Ran Broda. It uses data from positionstack.com and weatherstack.com</p>
    </div>

    {{>credit}}
</body>

</html>